/* Do everything in this file */

h2{
    clear: right;
    border-bottom: 2px solid red;
}

figure{
    width: 40%;
    float:right;
    margin: 2em;
}

figure img{
    width: 100%;
}

.long, .tet, .square{
    float: left;
    width: 20%;
    border: 2px solid teal;
}

footer{
    clear: left;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}